@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
// Variables //

    $bg-color: #58cd5c; //Alternative color #65357D or 55c759 (purple)
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $secondary-font:'Montserrat', sans-serif;
    $hover-color: #E53935;
    $cards-background: #FF6961;
    $login-background: #FAF9F6; //off white
    $input-background: #f2f3f5;
    $input-placeholder: #838383;
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 2rem;
    overflow: none;    
}

// Header style //
header{
  width: 100%;
  height: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secundary-color;
  font-family: $default-font;

  // Logo in Header //
  img{
      width: 1.5em;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      

      // Nav links //
      a{
          font-size: 1rem;
          text-decoration: none;
          color: $font-color;
          padding-right: 1em;    
      }

      a:hover{
          color: $hover-color;
          //scale: 1.1;
          transition: 0.5s;
      }
      a:active{
          color: $font-color;
      }
  }
}

main{
  background-color: $bg-color;
  background-image: url("../../../assets/arabesque.png");
  display: flex;
  justify-content: center;
  min-height: 92vh;
  font-family: $secondary-font;

  #orders{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0.5em;
    align-items: center;
    background-color: $cards-background;
    background: radial-gradient(circle, rgba(255,105,97,1) 0%, rgba(252,70,107,1) 100%);
    color: $font-color;
    width: 13em;
    //height: 10.27em;
    height: auto;
    margin: 25px 0px;
    border-radius: 5px;
    padding-bottom: 25px;

    #orders-title{
      font-size: 0.8em;
      padding-bottom: 0.5em;
    }

    #orders-list{
      width: 75%;
    }

    .order-items{
      background-color: $input-background;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p{
        font-size: 0.35em;
        color: #000;
      }

      .spanButtons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .delBtnStyle{
        font-size: 12px;
        text-align: center;
        background-color: $hover-color;
        margin-right: 15px;
        padding: 7px;
        border-radius: 0.4em;
        font-weight: bold;
        color: $font-color;
        border: none;
        width: 30px;
        height: 30px;
      }
      .delBtnStyle:hover{
          background-color: $hover-color;
          scale: 1.025;
          transition: 0.5s;
          cursor: pointer;
      }

      .doneBtnStyle{
        font-size: 12px;
        text-align: center;
        background-color: $bg-color;
        margin-left: 0px;
        padding: 7px;
        border-radius: 0.4em;
        font-weight: bold;
        color: $font-color;
        border: none;
        width: 30px;
      }

      .doneBtnStyle:hover{
          scale: 1.025;
          transition: 0.5s;
          cursor: pointer;
      }

    }
    .order-items:hover{
      box-shadow: 7px 9px 35px 11px rgba(0, 0, 0, 0.237);
      scale: 1.015;
      transition: 0.5s;
      cursor: pointer;
    }
  }
}

// Crossed out text //
.crossedOut{
  text-decoration: line-through;
}