@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
// Variables //

    $bg-color: #58cd5c; //Alternative color #65357D or 55c759 (purple)
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $secondary-font:'Montserrat', sans-serif;
    $hover-color: #E53935;
    $cards-background: #FF6961;
    $login-background: #FAF9F6; //off white
    $input-background: #f2f3f5;
    $input-placeholder: #838383;
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 2rem;
    overflow: none;    
}

// Header style //
header{
  width: 100%;
  height: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secundary-color;
  font-family: $default-font;

  // Logo in Header //
  img{
      width: 1.5em;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      

      // Nav links //
      a{
          font-size: 1rem;
          text-decoration: none;
          color: $font-color;
          padding-right: 1em;    
      }

      a:hover{
          color: $hover-color;
          //scale: 1.1;
          transition: 0.5s;
      }
      a:active{
          color: $font-color;
      }
  }
}

main{
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  min-height: 92vh;
  font-family: $secondary-font;

  #orders{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0.5em;
    align-items: center;
    background-color: $cards-background;
    color: $font-color;
    width: 13em;
    height: 10.27em;

    #orders-title{
      font-size: 0.8em;
      padding-bottom: 0.5em;
    }

    .order-items{
      font-size: 0.35em;

    }
  }
}