// Fonts //
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Variables //

    $bg-color: #4CAF50;
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $hover-color: #65357D;
    $red-color: #E53935;
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $default-font;
    font-size: 2rem;
}


// Header style //
header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secundary-color;

    // Logo in Header //
    img{
        width: 1.5em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;

        // Nav links //
        a{
            font-size: 1rem;
            text-decoration: none;
            color: $font-color;
            padding-right: 1em;    
        }

        a:hover{
            color: $hover-color;
            scale: 1.1;
        }
        a:active{
            color: $font-color;
        }
    }
}

main{
    background-color: $bg-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    //padding: 0.9375em 1.5em;

    #title-container{
        justify-self: center;
        align-self: center;

        h1{
            font-size: 100%;
        }
    }

    #taco-container{
        justify-self: center;
        align-self: center;
    }
}

footer{
    height: 10%;
    font-size: 15px;
    text-align: center;
    background-color: $secundary-color;
}