// Fonts //
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
// Variables //

    $bg-color: #58cd5c; //Alternative color #65357D or 55c759 (purple)
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $secondary-font:'Montserrat', sans-serif;
    $hover-color: #E53935;
    $cards-background: #FF6961;
    $login-background: #FAF9F6; //off white
    $input-background: #f2f3f5;
    $input-placeholder: #838383;
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 2rem;
    overflow: none;    
}

// Header style //
header{
  width: 100%;
  height: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secundary-color;
  font-family: $default-font;

  // Logo in Header //
  img{
      width: 1.5em;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      

      // Nav links //
      a{
          font-size: 1rem;
          text-decoration: none;
          color: $font-color;
          padding-right: 1em;    
      }

      a:hover{
          color: $hover-color;
          //scale: 1.1;
          transition: 0.5s;
      }
      a:active{
          color: $font-color;
      }
  }
}

main{
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  min-height: 92vh;
  font-family: $secondary-font;

  #container{
    background-color: $login-background;
    border-radius: 0.8em;
    align-self: center;
    height: 7em;
    width: 7em;  
     
    #login-menu{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0.4em;
        gap: 0.2em;

        ::-webkit-input-placeholder{
            color: $input-placeholder;
            font-weight: 100;
            opacity: 0.15;
        } 
        
        #login-title{
            color: $bg-color;
            font-size: 0.85em;
            align-self: center;
            font-weight: 100;
            margin-bottom: 0.2em;
        }

        #user-icon{
            color: $bg-color;
            font-size: 0.85em;
        }

        .login-inputs{ 
            background-color: $input-background;
            color: $bg-color;
            font-family: $secondary-font;
            padding-left: 0.2em;
            font-size: 0.5em;
            height: 2em;
            width: 9em;
            border-radius: 0.4em;
            border: 0.02em solid transparent;
        }

        .login-inputs:focus{
            border-color: $bg-color;
            outline: none;
        }

        #login-btn{
            height: 2em;
            width: 9em;
            font-size: 0.5em;
            background-color: $bg-color;
            color: $login-background;
            font-family: $secondary-font;
            padding: 0.12em;
            border-radius: 0.4em;
            border: none;
            font-weight: 100;
            cursor: pointer;
        }

        #login-btn:hover{
            scale: 1.025;
            transition: 0.3s;
        }
    }
  }
}

