@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Variables //

    $bg-color: #4CAF50;
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $hover-color: #E53935;
    //$hover-color: #65357D;//
    $red-color: #E53935;
    $cards-background: #FF6961;
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $default-font;
    font-size: 2rem;
    overflow: none;
}


// Header style //
header{
    width: 100%;
    height: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secundary-color;

    // Logo in Header //
    img{
        width: 1.5em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;

        // Nav links //
        a{
            font-size: 1rem;
            text-decoration: none;
            color: $font-color;
            padding-right: 1em;    
        }

        a:hover{
            color: $hover-color;
            transition: 0.5s;
        }
        a:active{
            color: $font-color;
        }
    }
}
main{
    height: 100%;
    width: auto;
    background-color: $bg-color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem 1rem 0rem;
    //border: solid 1px red;


.food-cards{
    //border: solid 1px red;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border-radius: 25px;
    background: $cards-background;
    box-shadow: 7px 9px 35px 11px rgba(0, 0, 0, 0.237);
    margin-bottom: 15px;

    img{
        margin: auto;
        width: 275px;
        height: 200px;
        //border: solid 1px blue;
        margin: 12.5px;
        border-radius: 15px;
    }

    .food-names{
        font-size: 0.5em;
        font-weight: lighter;
        color: #f9f9f9;
    }

    input{
        width: 15%;
        height: auto;
        text-align: center;
        font-size: 24px;
        margin-top: 0.9375rem;
        color: $secundary-color;
    }
}

.food-cards:hover{
    scale: 1.015;
    transition: 0.5s;

    h4{
        color: $secundary-color;
    }
    
}

#input-info{
    display: flex;
    align-items: center;
    justify-content: center;

    label{
        font-size: 36px;
    }

    input{
        width: 10%;
        height: 36px;
        margin-left: 5px;
        text-align: center;
        color: $secundary-color;
        font-size: 24px;
    }

    button{
        font-size: 24px;
        text-align: center;
        background-color: $secundary-color;
        margin-left: 15px;
        padding: 5px;
    }

    button:hover{
        background-color: $red-color;
        scale: 1.025;
        transition: 0.5s;
        cursor: pointer;
    }
}
}
