// Fonts //
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Variables //

    $bg-color: #4CAF50; //Alternative color #65357D (purple)
    $secundary-color: #FFC107;
    $font-color: #f9f9f9;
    $default-font:'Lobster', cursive, arial;
    $secondary-font:'Montserrat', sans-serif;
    $hover-color: #E53935;
    $red-color: #E53935;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $default-font;
    font-size: 2rem;
    overflow: none;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Header style //
header{
    width: 100%;
    height: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secundary-color;

    // Logo in Header //
    img{
        width: 1.5em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        // Nav links //
        a{
            font-size: 1rem;
            text-decoration: none;
            color: $font-color;
            margin-right: 1em;    
        }

        a:hover{
            color: $hover-color;
            scale: 1;
            transition: 0.5s;
        }
        a:active{
            color: $font-color;
        }
    }
}

main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 90, 90, 0.5)), url('/assets/quadro-de-comida-com-vista-superior-do-copy-space.jpg');
    background-size:cover;
    display: flex;
    flex: 1;
    justify-content:flex-start;
    align-items: center;
    overflow: none;
    padding: 1.5rem 0rem;
    height: auto;

    #title-container{
        margin-left: 5%;
        display: flex;
        justify-content:left;
        flex-direction: column;
        
        h2{
            font-size: 5rem;
            text-align: center;
            color: $font-color;
            text-shadow: 4px 0px 11px rgba(255, 193, 7, 0.4);
        }

        #text-info{
            color: $font-color;
            text-shadow: 4px 0px 11px rgba(255, 193, 7, 0.4);
            margin-top: 0.3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            #menu-btn{
                background-color: $secundary-color;
                color: $font-color;
                font-family: $secondary-font;
                letter-spacing: 2px;
                font-weight: bold;
                padding: 0.45em 0.55em;
                border-radius: 0.5em;
                border: transparent;
                cursor: pointer;
            
                p{
                    font-size: 0.65em;
                    text-shadow: 4px 0px 11px rgba(0, 0, 0, 1);

                }
            }

            #menu-btn:hover{
                background-color: $hover-color;
                scale: 1.05;
                transition: 0.5s;
            }
        }
    }

}

footer{
    justify-self: flex-end;

    h1{
        height: auto;
        padding: 0.3em;
        font-size: 0.3em;
        font-weight: 100;
        text-align: center;
        background-color: $secundary-color;
        color: $font-color;
        letter-spacing: 2px;
        text-shadow: 4px 0px 11px rgba(0, 0, 0, 1);

    }
}

// Mobile break point //
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1065px;

@media (max-width: $mobile-breakpoint){
    main{
        flex-direction: column;
        height: 100%;
        padding-top: 10px;

        #home-background{
            img{
                width: 100%;
                height: auto;
            }
        }
        

        #title-container{
            h2{
                font-size: 3rem;
            }

        }
    }
}